<footer class="animate__animated animate__fadeInUp">
    <div class="footer" style="text-align: center;">
        <a href="http://jujuy.gob.ar/home/"><img class="ui mini rounded image" src="../../../assets/images/logo.png" style="width: 170px;padding-top: 5px;"/></a>
        <a style="padding-top: 9px; padding-bottom: 5px;" href="http://seguridad.jujuy.gob.ar/">
            <h6 style="color:#fff">Ministerio de Seguridad</h6>
            <!-- <span style="color:#fff">Area Informática</span> -->
        </a>
    </div>
</footer>